html
  head
    title!= "OAuth security context info"
    script.
      (function () {
        window.sessionStorage.BCAccessToken = "#{accessToken}"
        window.sessionStorage.SiteUrls = "#{secureUrls}"
        window.location = "https://oauth-api-discovery:3000/_System/apps/bc-api-discovery/index.html"
      })();
  body
    p!= accessToken
    p!= expiresIn
    p!= secureUrls